# log folders inside examples (unuseful files)
Examples/**/log/

# not tracked folder for own tests
not_tracked

# SAP2000 files different to sdb
*.ico
*.$2k
*.K_0
*.K_I
*.K_J
*.K_M
*.LOG
*.msh
*.OUT
*.Y
*.Y$$
*.Y_1
*.Y00
*.Y01
*.Y02
*.Y03
*.Y04
*.Y05

# Plot_Mode_Shapes.m function
Utils/OSP_GUI_utils/Plot_Mode_Shapes.m

# Opened microsoft files
~$*

# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace